[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/MashedTatoes/glfw.git
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/MashedTatoes/realm_glad.git
[submodule "src/engine/extensions/realm_ext_assetimporter"]
	path = src/engine/extensions/realm_ext_assetimporter
	url = https://github.com/MashedTatoes/realm_ext_assetimporter.git
